[% INCLUDE 'nav/actions.tt2' object = commit %]

<div>
[% project %]
[% IF c.req.param('h').match('refs/heads') %]
/ [% c.req.param('h') %]
/ <a href="[% c.uri_for('merge_info', h=c.req.param('h')) %]">merge info</a>
[% END %]
</div>

[%
INCLUDE '_log_pager.tt2';
INCLUDE '_shortlog.tt2';
INCLUDE '_log_pager.tt2';
%]
